/*------------- register ------------*/

.register-card {
    background-color: grey;
    margin: 2rem auto;
    padding:2rem;
    height:80vh;
    background: linear-gradient(to bottom, rgb(255, 163, 102),rgb(255, 133, 51),rgb(255, 102, 0));
    border-radius: 10rem;
    width: 70rem;
    position: relative;
}
.signup-form {
    text-align: center;
    position: relative;
}
.register-card h1 {
    font-size: 4.5rem;
}
.register-card h3 {
    font-size: 2.5rem;
}
.register-card h1,h3 {
    text-align: center;
}
.signup-form input {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    background-color: #fff;
    border: .1rem solid #ccc;
    border-radius: .7rem;
    padding: .5rem .8rem;
}
.signup-form label {
    font-size: 20px;
    margin-bottom: 20px;
}

.register-card-container {
    padding: 50px 80px;
}

::placeholder {
    font-size: 20px;
    color: grey;
}
.agree-terms {
    text-decoration: none;
}

.btn-register {
    text-align: center;
    text-decoration: none;
    display: inline-block;
    padding: 14px 30px;
    font-size: 25px;
    cursor: pointer;
    border: none;
    border-radius: 3px;
    transition-duration: 1s;
    background-color: #2E4C6D;
    color: #fff;
    border: 2px solid #2E4C6D;
    border-radius: 7px;
}